html {
    font-size: 14px;
}
header, section, footer {
    max-width: 70rem;
    margin: 0 auto;
}
header {
    margin-bottom: 1.5rem;
}
.ui.vertical.menu {
    width: 100%!important;
}
.article {
    max-width: 70rem!important;
    margin: 0 auto!important;
    padding-bottom: 4rem!important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
}
h1 {
    font-size: 2rem;
    color: black;
}
h2 {
    font-size: 1.75rem;
}
h3, h4, h5, h6 {
    font-size: 1.5rem;
}
main img {
    padding: 1rem;
    max-width: 100%;
}
footer {
    border-top: 1px solid #e5e5e5;
    padding: 1rem;
    text-align: center;
}
p, li, dd, dt {
    line-height: 1.8;
    font-size: 16px;
}
p:empty, dd:empty {
    display: none;
}
.table-wrapper, pre {
    margin: 1rem 0;
    max-width: 50rem;
    overflow-x: auto;
}
.table-wrapper td, .table-wrapper th {
    vertical-align: top;
}
    pre {
        padding: .5rem;
        outline: 1px solid #e5e5e5;
    }

/* Model browser */
#model_nav {
    max-height: 20rem;
    margin-bottom: -1rem;
    overflow-y: scroll;
    border-top: 1px solid #e5e5e5;
    margin-top: .75rem;
}
.subclass a:not(:last-child)::after {
    content: ", ";
}
.subclass a:hover {
    text-decoration: underline;
}
.subclass {
    line-height: 1.2;
}
.enumeration {
    border-left: 2px solid #e5e5e5;
    padding: 0rem 1rem;
    margin: .75rem 1rem;
}
dd, dd p {
    line-height: 1.4;
}
@media print {
    nav, header {
        display:none;
    }
    .table-wrapper, pre {
        max-width: none;
        outline: none;        
    }
}
