html {
    font-size: 14px;
}
header, section, footer {
    max-width: 70rem;
    margin: 0 auto;
}
header {
    margin-bottom: 1.5rem;
}
.ui.vertical.menu {
    width: 100%!important;
}
.article {
    max-width: 70rem!important;
    margin: 0 auto!important;
    padding-bottom: 4rem!important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
}
h1 {
    font-size: 2rem;
    color: black;
}
h2 {
    font-size: 1.75rem;
}
h3, h4, h5, h6 {
    font-size: 1.5rem;
}
body {
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;    
}
main img {
    padding: 1rem;
    max-width: 100%;
}
    #toc {
        margin: 1rem 0;
    }
        #toc:before {
            content: "Table of contents";
            font-weight: bold;
            display: block;
            padding-bottom: .5rem;
        }
footer {
    border-top: 1px solid #e5e5e5;
    padding: 1rem;
    text-align: center;
}
p, li {
    line-height: 1.8;
    font-size: 16px;
}
    th, td, dt, dd {
        font-size: 16px;
    }
    .ui.positive.message ul {
        margin-left: 1.5rem;
        padding-left: 0;
    }
    .ui.positive.message p, .ui.positive.message li, 
    .ui.positive.message dt, .ui.positive.message dd {
        color: rgb(44, 102, 45)!important;
        opacity: 1!important;
        line-height: 1.4!important;
    }
p:empty, dd:empty {
    display: none;
}
table, pre {
    margin: 1rem 0!important;
    max-width: 50rem!important;
    overflow-x: auto!important;
}
table td, table th {
    vertical-align: top;
}
    pre {
        padding: .5rem;
        outline: 1px solid #e5e5e5;
    }

/* Model browser */
#model_nav {
    max-height: 20rem;
    margin-bottom: -1rem;
    overflow-y: scroll;
    border-top: 1px solid #e5e5e5;
    margin-top: .75rem;
}
.subclass a:not(:last-child)::after {
    content: ", ";
}
.subclass a:hover {
    text-decoration: underline;
}
.subclass {
    line-height: 1.2;
}
.enumeration {
    border-left: 2px solid #e5e5e5;
    padding: 0rem 1rem;
    margin: .75rem 1rem;
}
dl.properties dt {
    display: flex;
    border-top: 2px solid #e5e5e5;
    align-items: baseline;
    font-size: 16px;
    padding: .75rem .5rem .5rem .5rem;
    margin: 0;
}
    dl.properties dt span {
        margin-left: .25rem!important;
    }
    dl.properties dt *:first-child {
        flex: 1;
    }
    dl.properties p {
        font-size: 16px;
        line-height: 1.2;
        margin: 0 0 .5rem 0;
    }
    dl.properties p:last-child {
        margin-bottom: .85rem;
    }
    dl.properties table {
        margin-bottom: 1rem!important;
    }
@media (max-width: 768px) {
    header {
        margin-bottom: 0!important;
    }
    .ui.stackable.vertical.menu .menu {
        padding: 0 1rem;
        margin-top: 0;
    }
    .ui.stackable.vertical.menu .menu a {
        display: inline!important;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
    .ui.stackable.vertical.menu .menu a:not(:last-child):after {
        content: ' - ';
    }
}
@media print {
    nav, header {
        display:none;
    }
    .table-wrapper, pre {
        max-width: none;
        outline: none;        
    }
}
