.item.header {
    /* Navigation to home screen, hidden on hero page. */
    display: none!important;
}
.content {
    max-width: 70rem;
    margin: 0 auto;
}
    .content > .ui.menu {
        margin: 0!important;
    }
.masthead {
    display: flex;
    align-items: center;
    justify-content: center;
}
i.mobile-logo {
    position: relative;
    color: rgba(102,51,153,.2);
    font-size: 26rem;
    max-width: 26rem;
    height: 24rem;
    line-height: 24rem;
}
i.heartbeat-logo {
    position: absolute;
    color: rebeccapurple;
    width: 100%;
    height: 100%;
    line-height: 24rem;
    top: 0;
    left: 0;
    font-size: 6rem;
}
.hero-masthead {
    text-align: center;
    padding: 0 1rem;
}
    h1 {
        font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
        font-weight: 300;
        font-size: 4em;
        margin: 0 auto!important;
    }
    h3 {
        font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
        font-weight: 300;
        font-size: 1.75rem;
        color: rgba(0,0,0,0.5);
        margin: 2rem auto 3rem!important;
    }
    .hero-buttons {
        margin: 3rem auto 2rem;
    }
    .hero-buttons a {
        display: inline-block;
        min-width: 10rem;
        margin: 0 .7rem 1rem .7rem !important;        
    }
        .android-button {
            background-color: rgba(106, 179, 68,.85)!important;
            color: white!important;
        }
            .android-button:hover {
                background-color: rgba(106, 179, 68,1)!important;
            }
        .ios-button {
            background-color: rgba(22,120,194,.85)!important;
            color: white!important;
        }
            .ios-button:hover {
                background-color: rgba(22,120,194,1)!important;
            }
        .rest-button {
            background-color: rgba(102, 51, 153,.85)!important;
            color: white!important;
        }
            .rest-button:hover {
                background-color: rgba(102, 51, 153,1)!important;
            }
section.hero {
    font-size: 1.3rem;
    padding: 1rem 2rem 4rem 2rem;
}
footer {
    border-top: 1px solid #ccc;
    padding: .25rem .25rem 4rem .25rem;
    font-size: 16px;
    text-align: center;
}    
