<div class="ui styled accordion" id="acc">
    {% if page.model_browser == true %}
    <div class="active title">
        <i class="dropdown icon"></i>
        REST API Models
    </div>
    <div class="active content" style="padding:0">
        <div class="ui fluid vertical menu model_nav_container">
            <div id="model_nav">
                <p class="item" style="color:#b22222; margin: 3rem auto">Loading&hellip;</p>
            </div>
        </div>
    </div>
    {% endif %}                    
    <div class="title">
        <i class="dropdown icon"></i>
        Platform Overview
    </div>
    <div class="content">
        <div class="ui secondary vertical menu">
            <a class="item" href="/articles/overview.html">Introduction</a>
            <a class="item" href="/articles/data_management.html">Policies &amp; Principles</a>
            <a class="item" href="/articles/study_design.html">Study Design</a>
            <a class="item" href="/articles/app_dev_lifecycle.html">Application Lifecycle</a>
            <a class="item" href="/articles/scheduling.html">Scheduling</a>
            <!--<a class="item" href="/articles/notifications.html">Push Notifications</a>-->
            <a class="item" href="/articles/upload_data_format.html">Uploaded Data Formats</a>
            <a class="item" href="/articles/analysis.html">Data Retrieval &amp; Analysis</a>
        </div>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Security
    </div>
    <div class="content">
        <div class="ui secondary vertical menu">
            <a class="item" href="/articles/security.html">
                Overview</a>
            <a class="item" href="/articles/security/access_policies.html">
                Access Management Policies for Bridge Server Admins</a>
            <a class="item" href="/articles/security/cloud_providers.html">
                Cloud Providers used by Bridge Server</a>
            <a class="item" href="/articles/security/key_management.html">
                Key Management</a>
            <a class="item" href="/articles/security/login_monitoring.html">
                Login Monitoring Policy and Proceedures</a>
            <a class="item" href="/articles/security/account_management.html">
                Management of user account data</a>
            <a class="item" href="/articles/security/anonymization.html">
                Mapping between Accounts and Study Data</a>
            <a class="item" href="/articles/security/data_management.html">
                Policies around management of participant data</a>
            <a class="item" href="/articles/security/study_data_transfer.html">
                Transfer of Study Data to Bridge</a>
        </div>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        REST API
    </div>
    <div class="content">
        <div class="ui secondary vertical menu">
            <a class="item" href="/articles/rest.html">Getting Started</a>
            <a class="item" href="/articles/java.html">Java REST Client</a>
            <a class="item" href="/articles/filtering.html">Customizing Content</a>
        </div>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        iPhone Development
    </div>
    <div class="content">
        <div class="ui secondary vertical menu">
            <a class="item" href="/articles/ios.html">iOS &amp; ResearchKit SDKs</a>
            <a class="item" href="/articles/ios_get_started.html">Getting Started</a>
            <a class="item" href="/articles/ios_samples.html">Sample Apps</a>
        </div>                    
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Android Development
    </div>
    <div class="content">
        <div class="ui secondary vertical menu">
            <a class="item" href="/articles/android.html">Android SDKs</a>
            <a class="item" href="/articles/android_samples.html">Sample Apps</a>
        </div>                    
    </div>
</div>