<div class="item">
    <div class="header">iOS Support</div>
    <div class="menu">
        <div class="item">
            <a href="/articles/ios-sdk.html">iOS Client SDK</a>
        </div>
    </div>
</div>
<div class="item">
    <div class="header">Android Support</div>
    <div class="menu">
        <div class="item">
            <a href="/articles/java-sdk.html">Java Client SDK</a>
        </div>
    </div>
</div>
<div class="item">
    <div class="header">Bridge Server</div>
    <div class="menu">
        <div class="item">
            <a href="/articles/server_overview.html">Overview of the system</a>
        </div>
        <div class="item">
            <a href="/apidocs/index.html">REST API</a>
        </div>
        <div class="item">
            <a href="https://research.sagebridge.org/">Bridge Study Manager</a><i class="external icon"></i>
        </div>
    </div>
</div>