{% if page.security == true %}
<div class="item">
    <div class="header"><a href="/articles/overview.html">Bridge Studies</a> &gt; Security</div>
    <div class="menu">
        <a class="item" href="/articles/security.html">
            Overview</a>
        <a class="item" href="/articles/security/access_policies.html">
            Access Management Policies for Bridge Server Admins</a>
        <a class="item" href="/articles/security/cloud_providers.html">
            Cloud Providers used by Bridge Server</a>
        <a class="item" href="/articles/security/key_management.html">
            Key Management</a>
        <a class="item" href="/articles/security/login_monitoring.html">
            Login Monitoring Policy and Proceedures</a>
        <a class="item" href="/articles/security/account_management.html">
            Management of user account data</a>
        <a class="item" href="/articles/security/anonymization.html">
            Mapping between Accounts and Study Data</a>
        <a class="item" href="/articles/security/data_management.html">
            Policies around management of participant data</a>
        <a class="item" href="/articles/security/study_data_transfer.html">
            Transfer of Study Data to Bridge</a>
    </div>
</div>
{% endif %}