{% if page.study_design == true %}
<div class="item">
    <div class="header"><a href="/articles/overview.html">Bridge Studies</a> &gt; Study Design</div>
    <div class="menu">
        <a class="item" href="/articles/study_design/study_design.html">Getting Started</a>
        <a class="item" href="/articles/study_design/app_dev_lifecycle.html">Support for the app development lifecycle</a>
        <a class="item" href="/articles/study_design/upload_data_format.html">Upload Data Format</a> 
        <a class="item" href="/articles/study_design/scheduling.html">Scheduling</a>
        <a class="item" href="/articles/study_design/filtering.html">Tailoring Content to Participants</a>
    </div>
</div>
{% endif %}