<html lang="en">
{% include head.html %}
<body>
    <header>
        {% include tabs.html %}    
    </header>
    <div class="article ui stackable two column grid">
        <div class="five wide column">
            <nav>
                {% include navigation.html %}
            </nav>
        </div>
        <div class="eleven wide column">
            <main>
                <h1>{{page.title}}</h1>
                {{content}}
            </main>
        </div>
    </div>
    {% include footer.html %}
    <script>
        $('#acc').accordion();
    </script>
</body>
</html>