<html lang="en">
{% include head.html %}
<body>
<div class="content">
    <script>
    if (document.location.hash) {
        document.location.replace('/model-browser.html?'+document.location.hash); 
    }
    </script>
    {% include tabs.html %}
    <div class="masthead">
        <i class="ui mobile icon mobile-logo">
            <i class="ui heartbeat icon heartbeat-logo"></i>
        </i>
    </div>
    <div class="hero-masthead">
        <h1>Bridge</h1>
        <h3>Securely manage data from your mobile health studies</h3>
        <div class="hero-buttons">
            <a href="/articles/android.html" class="ui large button android-button">
                <i class="ui android icon"></i> Android
            </a>
            <a href="/articles/ios.html" class="ui large blue button ios-button">
                <i class="ui apple icon"></i> iOS
            </a>
            <a href="/articles/rest.html" class="ui large button rest-button">
                <i class="ui world icon"></i> REST API
            </a>
        </div>
    </div>
    <section class="hero">
        {{content}}
    </section>
    {% include footer.html %}
</div>
</body>
</html>